<div class="stacker-item-inner">

    <a href="#" class="stacker-item-navigation stacker-item-navigation-left">
        <i class="icon icon-controls-left"></i>
    </a>

    <a href="#" class="stacker-item-navigation stacker-item-navigation-right">
        <i class="icon icon-controls-right"></i>
    </a>

    <div class="stacker-item-marking">
        <i class="stacker-item-marking-correct icon icon-tick"></i>
        <i class="stacker-item-marking-incorrect icon icon-cross"></i>
    </div>

    <a href="#" class="stacker-item-sorter">
        <i class="icon icon-controls-up stacker-item-sorter-up"></i>
        <span class="stacker-item-sorter-index">{{numbers index}}</span>
        <i class="icon icon-controls-down stacker-item-sorter-down"></i>
    </a>

    <div class="stacker-item-texts-holder">
        <div class="stacker-item-texts clearfix">
            {{#each _options}}
            <div class="stacker-item-text stacker-item-text-{{@index}}" data-index="{{_originalIndex}}">
                <div class="stacker-item-text-inner">
                    {{#if image}}
                    <div class="stacker-item-text-image">
                        <img src="{{image}}"/>
                    </div>
                    {{/if}}
                    <div class="stacker-item-text-image">
                        {{{text}}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

</div>