<div class="stacker-inner component-inner">
    {{> component this}}
    <div class="stacker-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}} {{#if _shouldUseSliding}}stacker-sliding{{else}}stacker-not-sliding{{/if}} {{#if _shouldUseOrdering}}stacker-ordering{{else}}stacker-not-ordering{{/if}}">

        <div class="stacker-holder">
        </div>

    </div>
    <div class="buttons">
    </div>
</div>