.graphicAnimation-text {
	color: #4281ff;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

.graphicAnimation-wrap {
	display: block;
	position: relative;
	margin: 0 auto;
	img {
		display: flex;
    	position: relative;
    	margin: 0 auto;
	}

	.graphicAnimation-topText {
		display: block;
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		margin: 0 auto;
		letter-spacing: 1px;
		font-family: sans-serif;
	}

	.graphicAnimation-midText {
		display: block;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		margin: 0 auto;
		letter-spacing: 1px;
		font-family: sans-serif;
	}

	.graphicAnimation-bottomText {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		margin: 0 auto;
		letter-spacing: 1px;
		font-family: sans-serif;
	}

}

.graphicAnimation-hidden {
	transform: translateY(-100%);
	opacity: 0;
}

// Animation for images
.graphicAnimation-slideInLeft{
	animation-name: slideInLeft;
	-webkit-animation-name: slideInLeft;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	animation-fill-mode: forwards;
}

@keyframes slideInLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

@-webkit-keyframes slideInLeft {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0%);
		opacity: 1;
	}
}

// Animation for text
.graphicAnimation-slideInLeftHalf {
	animation-name: slideInLeftHalf;
	-webkit-animation-name: slideInLeftHalf;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	animation-fill-mode: forwards;
}

@keyframes slideInLeftHalf {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(-50%);
		opacity: 1;
	}
}

@-webkit-keyframes slideInLeftHalf {
	0% {
		-webkit-transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(-50%);
		opacity: 1;
	}
}
