<div class="menu-item-inner" aria-label="{{_globals._menu._boxmenu.menuItem}}" {{#if _globals._menu._boxmenu.menuItem}}tabindex="0"{{/if}}>
    <div class="menu-item-graphic">
        {{#if _graphic.src}}
            <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" />
        {{/if}}
    </div>
    <div class="menu-item-title">
        <div class="menu-item-title-inner h3 accessible-text-block" role="heading" aria-level="2" tabindex="0">{{{compile displayTitle}}}</div>
    </div>
    <div class="menu-item-body">
        <div class="menu-item-body-inner">{{{compile_a11y_text body}}}</div>
    </div>
    <div class="menu-item-button">
        <button aria-label="{{linkText}} {{#if _isVisited}}{{_globals._accessibility._ariaLabels.visited}}{{/if}}" class="{{#if _isVisited}}visited{{/if}} {{#if _isLocked}}disabled{{/if}} accessible-text-block" {{#if _isLocked}}disabled="disabled"{{/if}}>
            {{{linkText}}}
        </button>
    </div>
    {{#if duration}}
        <span class="menu-item-duration accessible-text-block" role="region" tabindex="0">{{#if durationLabel}}<span class="durationLabel">{{{durationLabel}}}</span>{{else}}<span class="durationLabel">Duration:</span>{{/if}}<span class="duration">{{{duration}}}</span></span> <!-- Hack to remove global duration label because translated duration not showing -->
    {{/if}}
</div>
