.threeCol-inner {

    .threeCol-widget {
        float: left;

        .threeColWrap {
            float: left;
            width: 100%;
            height: 100%;

            .threeCol-item-inner {
                float: left;
                width: ~"calc(33.3% - 14px)";
                padding: 6px;
                height: 100%;

                &:nth-of-type(2n) {
                    border-left: none !important;
                    border-right: none !important;
                }

                .threeCol-imgWrap {
                    width: 100%;
                    height: 100%;

                    #threeCol-img {
                        position: relative;
                        display: block;
                        margin: 0 auto;
                    }

                }

                .threeColtext {
                    text-align: center;
                    span {

                    }

                }
            }
        }
    }
}
