.reveal-component {
    .reveal-widget {
        position: relative; 

    }

    .reveal-widget-icon {
        color: @item-text-color;
        position: absolute;
        text-align: center;
        top: 50%;
        vertical-align: middle;
        width: 100%;
    }

    .reveal-widget-item {
        position: relative;
        width: 50%;
    }

    .reveal-widget-item.reveal-left {
        float: left;
    }

    .reveal-widget-item.reveal-right {
        float: right;
    }

    .reveal-image {
        display: inline-block;
    }

    .reveal-image.reveal-right {
        float: right;
    }

    .reveal-image.reveal-left {
        float: left;
    }

    .reveal-widget {
        overflow: hidden;
    }

    .reveal-widget-slider {
        margin-left: 0;
    }
}

.reveal-widget-control {
    background-color: rgba(87, 115, 173, 0.3);
    height: 100%;
    position: absolute;
    z-index: 5;
    width: 40px;

    &.reveal-left {
        left: 0;
        top: 0;
    }

    &.reveal-right {
        right: 0;
        top: 0;
    }

    &:hover {
        background-color: rgba(87, 115, 173, 0.5);
        cursor: pointer;
    }
}

.reveal-widget-item-text {
    position: absolute;
    width: 90%;
    &.reveal-left {
        left: 0;
        top: 2px;
        
    }

    &.reveal-right {
        right: 0;
        top: 2px;
    } 
}
.reveal-widget-item-text-1{
  position: absolute;
  color: #FFFFFF;
  //text-align:center;
  &.reveal-left {
        
        
        
    }

    &.reveal-right {
        
        
        
    } 
    text-align:center !important; 
}
.reveal-widget-item-text span {
  //background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: #FFFFFF;

  //display: block;
 // margin: 0;
  
  //max-height: 265px;
  max-width: 100%;
  padding: 10px;
  position: absolute;
  overflow: visible;
  top: 5px;

     &.reveal-left {
        left: 60px;
        right: 0px;
        
        
    }

    &.reveal-right {
        left: 0px;
        right: 0px;
        
        
    }
    text-align:center !important;
}

.reveal-widget-item-text span {
  font-weight: bold;
  //background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: #FFFFFF;

  //display: block;
 // margin: 0;
  
  //max-height: 265px;
  max-width: 150px;;
  padding: 10px;
  position: absolute;
  overflow: visible;
  top: 5px;

     &.reveal-left {
        left: 30%;
        right: 0px;
        
        
    }

    &.reveal-right {
        left: 0px;
        right: 0px;
        
        
    }
    text-align:center !important;
}
.reveal-widget-item-text1 {
  //background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: #FFFFFF;
  display: block;
  margin: 0;
  
  //max-height: 265px;
  //max-width: 100%;
  //padding: 10px;
  position: absolute;
  overflow: visible;
  left: 0px;
  right: 0px;

     &.reveal-left {
        //left: 60px;
        
        
    }

    &.reveal-right {
       // right: 60px;
        
        
    }
    text-align:center !important;
}
.reveal-popup {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: @inverted-background-color;
    color: @inverted-foreground-color;
    border:@item-border;
}

.reveal-popup-inner {
    padding:@item-padding;
}

.reveal-popup-toolbar-title {
    margin-bottom: 10px;
    float: left;
    width: 80%;
}

.reveal-popup-content {
    overflow-y: auto;
}

.reveal-popup-open {
    background-color: @button-color;
    display: inline;
    line-height: 100%;
    padding: 3px 5px;
    text-decoration: none;
    z-index: 500;
    .icon {
        color: @inverted-foreground-color;
        &:hover {
            color: lighten(@inverted-background-color, 30%);
        }
    }

    .reveal-icon-plus {
        display: inline;
        display: none;
        text-align: right;
        vertical-align: text-top;
        width: 100%;
    }

    .reveal-link-text {
        color: @item-text-color;
        display: inline;
        vertical-align: baseline;
    }
}

.reveal-popup-close {
    display: inline-block;
    float: right;
    color: @primary-color;
    .icon {
        color:@inverted-foreground-color;
        &:hover {
            color:lighten(@inverted-background-color, 30%);
        }
    }
}

.reveal-hidden {
    display:none !important;
}

.no-touch {
    .reveal-link-text {
        &:hover {
            color: @item-text-hover-color;
        }
    }
}
