<div class="table-format-inner component-inner" role="region" aria-label="{{_globals._components._table-format.ariaRegion}}">
    {{> component this}}

    <table class='{{{_tableclass}}}' >
    	    
			{{#each _items}}
			
			<tr>

			
			{{#each _row}}

			<td id='0' class='{{{_cellclass}}}' > 

		<div id={{@../index}}{{@index}} >{{{item_title}}}{{{item_image}}}</div>

			</td>
			
			{{/each}}
			
			</tr>
			
			{{/each}}

	</table>

</div>





