<div class="component-inner video-threeCol-inner">
    {{> component this}}
	<div class="component-widget video-threeCol-widget">
        {{#each _items}}
            <div class="video-threeCol-item-inner">
                <video preload="none" class="3colVid" id="video_{{@index}}" {{#if isControls}}controls{{/if}} {{#if loop}}loop{{/if}} autoplay>
                    <source src="{{{videoSrc}}}" type="video/mp4"/>
                </video>
                <div class="videoTextWrap">
                    {{#if muteBtn}}<div class="volume mute-video" id="muteBtn_{{@index}}")"><img src="course/en/images/unmute.png" id="mtueBtnImg_{{@index}}" /></div>{{/if}}<div class="videoText" style="color:{{{fontColor}}}; font-size:{{{fontSize}}}; font-weight:{{{fontWeight}}};">{{{videoText}}}</div>
                </div>
            </div>
        {{/each}}
	</div>
</div>
