<div class="component-inner">
    {{> component this}}
   
    {{#each _items}}
    <div class="framed-video-overlay">{{{frame}}}</div>
    			<div class="container" id={{@index}}>
                <div id='video' class="framed-video-inner">{{{video}}}</div>
                
				</div>
    {{/each}}
</div>