.text-component {
	/* visited link */
	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* mouse over link */
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* selected link */
	a:active {
	    color: @facebook-blue !important;
	    
	    font-weight: 900 !important;
	}
	.caption_bubble {
		background: url('./assets/rect.svg');  
	    background-position: center;
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	    width: 200px;
	    //text-align: center;
	    height: 0;
	    min-width:200px;
	    min-height:200px;
	    padding:20%;
	    padding-top:10%;
	    padding-left:10%;
		box-sizing: content-box;
	    line-height: 3;
	}

}