<div class="component-inner branchChart-inner">
    {{> component this}}
	<div class="component-widget branchChart-widget">
        <div class="branchChart-item-inner" style="width:{{{componentWidth}}}; {{#if_value_equals align "center"}}margin: 0 auto;{{else}}float:{{{align}}}{{/if_value_equals}}">

            <div class="branchChart-topText" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}}{{/if}}">
                <span>{{{topText}}}</span>
            </div>

            <div class="branchChart-caption branchChart-topCaption" style="font-size:{{{fontSizeCaption}}}; color:{{{fontColorCaption}}}; border-color:{{{borderColor}}};">{{{topCaption}}}</div>

            <div class="branchChart-lineWrap">
                <div class="branchChart-topLineLeft" style="border-color:{{{borderColor}}};"></div>
                <div class="branchChart-topLineRight" style="border-color:{{{borderColor}}};"></div>
            </div>

            <div class="branchChart-textWrap">
                <div class="branchChart-midLeftText" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}}{{/if}}">{{{midLeftText}}}</div>
                <div class="branchChart-midRightText" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}}{{/if}}">{{{midRightText}}}</div>
            </div>

            <div class="branchChart-caption" style="font-size:{{{fontSizeCaption}}}; color:{{{fontColorCaption}}}; border-color:{{{borderColor}}};">{{{midCaption}}}</div>

            <div class="branchChart-lineWrap">
                <div class="branchChart-textDividerLeft">
                    <div class="branchChart-bottomLineLeft" style="border-color:{{{borderColor}}};"></div>
                    <div class="branchChart-bottomLineRight" style="border-color:{{{borderColor}}};"></div>
                </div>

                <div class="branchChart-textDividerRight">
                    <div class="branchChart-bottomLineLeft" style="border-color:{{{borderColor}}}";></div>
                    <div class="branchChart-bottomLineRight" style="border-color:{{{borderColor}}}";></div>
                </div>

            </div>

            <div class="branchChart-textWrap">
                <div class="branchChart-textDividerLeft">
                    <div class="branchChart-bottomLeftText" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}}{{/if}}">{{{bottomLeftOuterText}}}</div>
                    <div class="branchChart-bottomRightText" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}}{{/if}}">{{{bottomLeftInnerText}}}</div>
                </div>
                <div class="branchChart-textDividerRight">
                    <div class="branchChart-bottomLeftText" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}}{{/if}}">{{{bottomRightInnerText}}}</div>
                    <div class="branchChart-bottomRightText" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}}{{/if}}">{{{bottomRightOuterText}}}</div>
                </div>
            </div>

            <div class="branchChart-caption" style="font-size:{{{fontSizeCaption}}}; color:{{{fontColorCaption}}}; border-color:{{{borderColor}}};">{{{bottomCaption}}}</div>

        </div>
	</div>
</div>
