.text-component {
	/* visited link */
	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* mouse over link */
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* selected link */
	a:active {
	    color: @facebook-blue !important;
	    
	    font-weight: 900 !important;
	}
    

}