// Custom Colors
// =============

@white: #ffffff;
@grey: #4267B2;
@black: #3a404f;
@blue: #4267B2;
@light-grey: #698dcb;
@mid-grey: #5B6D92;
@dark-grey: #4267B2;
@red: #f26c4f;
@green: #82ca9c;
@facebook-blue: #4267B2; 
@facebook-blue-highlight:#4080FF;
@facebook-grey: #657BA0;
@facebook-lightBlue:#3e4558;
@facebook-font-blue-dark:#385195;
//@facebook-font-blue-light:#586484;
//@facebook-font-blue-dark:@white;
@facebook-font-blue-light:@white;
@facebook-green:#6BCEBB;
@facebook-green-dark:darken(@facebook-green,10%);
@jump: lighten(@facebook-blue,50%);
@variableColor:tomato;
// Main Colors
// ===========

// Components
@primary-color: @grey;
@primary-color-inverted: @white;
// Buttons
@secondary-color:@facebook-lightBlue;
@secondary-color-inverted: @white;
// Navigation Bar
@tertiary-color: @facebook-blue;
@tertiary-color-inverted: @facebook-blue;
// Drawer
@quaternary-color: @dark-grey;
@quaternary-color-inverted: @white;
// Body
@foreground-color: @black;
@background-color: @grey;
@foreground-color-inverted: @white;
@background-color-inverted: @mid-grey;
// Validation States
@validation-error: @red;
@validation-success: @green;
// Disabled States
@disabled-color: #727272;
@disabled-color-inverted: #ccc;

@transparency: rgba(255,255,255,0.8);
@transparency-fallback-png: url('assets/transparency-light.png');

// Detailed Color setup
// ====================

// Body
@font-color: @foreground-color;
@font-color-inverted: @foreground-color-inverted;
@title-color: facebook-font-blue-dark;
@title-color-inverted: @primary-color-inverted;

// Buttons
@button-color: @facebook-blue-highlight;
@button-color-hover: darken(@facebook-blue-highlight, 8%);
@button-color-disabled: @disabled-color;

@button-text-color: @secondary-color-inverted;
@button-text-color-hover: @secondary-color-inverted;
@button-text-color-disabled: @disabled-color-inverted;

@button-border-color: @button-color;
@button-border-color-hover: @button-color-hover;
@button-border-color-disabled: @button-color-disabled;

// Navigation 
@navigation-color: @facebook-blue;

@navigation-icon-color: @white;
@navigation-icon-color-hover: darken(@navigation-icon-color, 20%);

@navigation-progress-color: #6dcd27;;
@navigation-progress-color-hover: darken(@navigation-progress-color, 20%);

@navigation-progress-background-color: @navigation-color;
@navigation-progress-background-color-hover: darken(@navigation-color, 20%);

@navigation-progress-border-color: @navigation-icon-color;

// Drawer
@drawer-color: @quaternary-color;
@drawer-border-color: darken(@drawer-color, 20%);

@drawer-icon-color: @quaternary-color-inverted;
@drawer-icon-color-hover: darken(@drawer-icon-color, 40%);

@drawer-item-color: @drawer-color;
@drawer-item-color-hover: darken(@drawer-item-color, 40%);
@drawer-item-color-selected: @drawer-item-color-hover;
@drawer-item-color-disabled: @item-color-disabled;

@drawer-item-text-color: @quaternary-color-inverted;
@drawer-item-text-color-hover: @drawer-item-text-color;
@drawer-item-text-color-selected: @drawer-item-text-color;
@drawer-item-text-color-disabled: @item-text-color-disabled;

@drawer-progress-color: @drawer-item-text-color;
@drawer-progress-color-hover: darken(@drawer-progress-color, 40%);

@drawer-progress-border-color: darken(@drawer-item-color, 10%);

// Components
@component-background-color: darken(@background-color, 10%);

@item-color: @primary-color;
@item-color-hover: darken(@item-color, 20%);
@item-color-disabled: @disabled-color;
@item-color-visited: desaturate(@item-color, 90%);
@item-color-selected: @item-color-hover;

@item-text-color: @primary-color-inverted;
@item-text-color-hover: @item-text-color;
@item-text-color-disabled: @item-text-color;
@item-text-color-visited: @item-text-color;
@item-text-color-selected: @item-text-color;

@item-body-color: @background-color;
@item-body-text-color: @foreground-color;

@item-border-color: @item-color;
@item-border-color-hover: @item-color-hover;
@item-border-color-disabled: @item-color-disabled;
@item-border-color-visited: @item-color-visited;
@item-border-color-selected: @item-color-selected;
@item-border-color-inverted: @item-text-color;

// Menu
@menu-item-color: @white;
@menu-item-text-color: darken(@menu-item-color, 70%);
@menu-item-progress-color: darken(@menu-item-color, 20%);
@menu-item-progress-fill-color: @menu-item-text-color;
@menu-item-progress-border-color: transparent;

// Notify
@notify-color: #dddddd;
@notify-text-color: @foreground-color;

@notify-icon-color: @notify-text-color;
@notify-icon-color-hover: darken(@notify-color, 20%);

@notify-button-color: @white;
@notify-button-color-hover: darken(@notify-color, 20%);

@notify-button-text-color: @dark-grey;
@notify-button-text-color-hover: @notify-text-color;
