.table-component {
	/* visited link */
	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* mouse over link */
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* selected link */
	a:active {
	    color: @facebook-blue !important;
	    
	    font-weight: 900 !important;
	}
	table {
    border: 1px solid #ccc;
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  table tr {
    border: 1px solid #ddd;
    padding: 5px;
  }

  table th, table td {
    padding: 14px;
    text-align: center;
    border: 1px solid #cecfd5;
  }

  table th {
    text-transform: uppercase;
    background-color: @facebook-blue;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
  }
  
  @media screen and (max-width: 580px) {

    table th, table td {
    padding: 5px;
    text-align: center;
    border: 1px solid #cecfd5;
  }
  table th {
    text-transform: uppercase;
    background-color: @facebook-blue;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 1px;
  }
  }
  
}