@flipCard-display: inline-block;
@flipCard-margin-right: 2.2%;
@flipCard-margin-top: 10px;
@flipCard-item-width: 48.5%;
@flipCard-item-width-mobile: 100%;
@flipCard-item-height: 320px;
@flipCard-item-height-mobile: 200px;
@flipCard-item-frontAndBack-width: 100%;
@flipCard-item-frontAndBack-height: 100%;
@flipCard-item-transition: all .4s ease-in-out;

@rotate-x: rotateX(0deg);
@rotate-y: rotateY(0deg);

@flipCard-item-rotate-0deg: @rotate-x @rotate-y;
@flipCard-item-rotate-Y-minus180deg: rotateY(-180deg);
@flipCard-item-rotate-Y-plus180deg: rotateY(180deg);
@flipCard-item-rotate-Y-0deg: rotateY(0deg);

.flipCard-component {


    .flipCard-item:nth-of-type(1) {
        .flipCard-item-front, .flipCard-item-back {
            background: #4267B2;
        }
    }

    .flipCard-item:nth-of-type(2) {
        .flipCard-item-front, .flipCard-item-back {
            background: #3884FF;
        }
    }

    .flipCard-item:nth-of-type(3) {
        .flipCard-item-front, .flipCard-item-back {
            background: #54C7EC;
        }
    }

    .flipCard-item:nth-of-type(4) {
        .flipCard-item-front, .flipCard-item-back {
            background: #8EBFD4;
        }
    }

    .flipCard-item:nth-of-type(5) {
        .flipCard-item-front, .flipCard-item-back {
            background: #89A1AC;
        }
    }

    .flipCard-item:nth-of-type(6) {
        .flipCard-item-front, .flipCard-item-back {
            background: #5F6673;
        }
    }

  .flipCard-item {
    width: @flipCard-item-width;
    min-height: @flipCard-item-height;
    position: relative;
    //float: left;
    display: inline-block;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
    margin-right: @flipCard-margin-right;
    margin-top: @flipCard-margin-top;
    color: @item-text-color;
  }

  .flipCard-item .flipCard-item-front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 110;
    width: 100%;
    height: 100%;
    //border: 1px solid @secondary-color;
    //background: @primary-color;
    overflow: hidden;

    -webkit-transform: @flipCard-item-rotate-0deg;
    -moz-transform: @flipCard-item-rotate-0deg;
    -ms-transform: @flipCard-item-rotate-0deg;
    -o-transform: @flipCard-item-rotate-0deg;
    transform: @flipCard-item-rotate-0deg;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: @flipCard-item-transition;
    -moz-transition: @flipCard-item-transition;
    -ms-transition: @flipCard-item-transition;
    -o-transition: @flipCard-item-transition;
    transition: @flipCard-item-transition;
  }

  .flipCard-item .flipCard-item-frontImage {
      position: relative;
      display: block;
      z-index: 1;
      width: 100%;
      margin: 0 auto;
      height: auto;
      max-height: 100%;
  }

  .flipCard-item .flipCard-item-frontFooter {
      text-align: center;
      display: block;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
      font-size: 12px;
  }

  .flipCard-item .flipCard-item-back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 100;
    width: @flipCard-item-frontAndBack-width;
    height: @flipCard-item-frontAndBack-height;
    //border: 1px solid @secondary-color;
    //background: @primary-color;
    overflow: hidden;
    //padding: @item-padding;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;

    -webkit-transform: @flipCard-item-rotate-Y-minus180deg;
    -moz-transform: @flipCard-item-rotate-Y-minus180deg;
    -ms-transform: @flipCard-item-rotate-Y-minus180deg;
    -o-transform: @flipCard-item-rotate-Y-minus180deg;
    transform: @flipCard-item-rotate-Y-minus180deg;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: @flipCard-item-transition;
    -moz-transition: @flipCard-item-transition;
    -ms-transition: @flipCard-item-transition;
    -o-transition: @flipCard-item-transition;
    transition: @flipCard-item-transition;
  }

  .flipCard-item .flipCard-item-backImage {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: auto;
    max-height: 100%;
    vertical-align: bottom;
  }

  .flipCard-item-tap .flipCard-item-front {
    cursor: pointer;
    -webkit-transform: @flipCard-item-rotate-Y-0deg;
    -moz-transform: @flipCard-item-rotate-Y-0deg;
    -ms-transform: @flipCard-item-rotate-Y-0deg;
    -o-transform: @flipCard-item-rotate-Y-0deg;
    transform: @flipCard-item-rotate-Y-0deg;
  }

  .flipCard-item-tap.flipCard-flip .flipCard-item-front {
    -webkit-transform: @flipCard-item-rotate-Y-plus180deg;
    -moz-transform: @flipCard-item-rotate-Y-plus180deg;
    -ms-transform: @flipCard-item-rotate-Y-plus180deg;
    -o-transform: @flipCard-item-rotate-Y-plus180deg;
    transform: @flipCard-item-rotate-Y-plus180deg;
  }

  .flipCard-item-tap .flipCard-item-back {
    cursor: pointer;
    -webkit-transform: @flipCard-item-rotate-Y-minus180deg;
    -moz-transform: @flipCard-item-rotate-Y-minus180deg;
    -ms-transform: @flipCard-item-rotate-Y-minus180deg;
    -o-transform: @flipCard-item-rotate-Y-minus180deg;
    transform: @flipCard-item-rotate-Y-minus180deg;
  }

  .flipCard-item-tap.flipCard-flip .flipCard-item-back {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: @flipCard-item-rotate-Y-0deg;
    -moz-transform: @flipCard-item-rotate-Y-0deg;
    -ms-transform: @flipCard-item-rotate-Y-0deg;
    -o-transform: @flipCard-item-rotate-Y-0deg;
    transform: @flipCard-item-rotate-Y-0deg;
  }

  .flipCard-item-backHeading, .flipCard-item-frontHeading, .flipCard-item-backOptions, .flipCard-item-frontOptions {
    position: relative;
    //float: left;
    display: block;
    z-index: 2;
    font-size: 2vmin;
    padding: 12px;
    line-height: normal;
  }

  .flipCard-item:nth-of-type(even) {
          margin-right: 0;
  }

  @media (max-width: 774px) {

    .flipCard-item {
      width: @flipCard-item-width-mobile;
      height: @flipCard-item-height-mobile;
    }

    .flipCard-item-backHeading, .flipCard-item-frontHeading, .flipCard-item-backOptions, .flipCard-item-frontOptions {
      font-size: 4vh;
    }

  }
}
