<div class="component-inner threeCol-inner">
    {{> component this}}
	<div class="component-widget threeCol-widget">
        <div class="threeColWrap">
            {{#each _items}}
                <div class="threeCol-item-inner" {{#if ../border}}style="border:1px solid {{{../borderColor}}};"{{/if}}>
                    <div class="threeCol-imgWrap">
                        <img src="{{_graphic.src}}" id="threeCol-img" {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
                    </div>
                    <div class="threeColtext" {{#if ../border}}style="border-top:1px solid {{{../borderColor}}};"{{/if}}>
                        <span>{{{text}}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
	</div>
</div>
