<section class="animate-flowchart-component component-inner">
    {{> component this}}
    <div class="animate-flowchart-list clearfix">
        <div class="animate-flowchart-item animate-flowchart-item-start">
            <div class="animate-flowchart-graphic-lg-wrap">
                <div class="animate-flowchart-graphic animate-flowchart-graphic-lg">
                    <img src="{{ _items.far_left.graphic }}" />
                </div>
                <div class="animate-flowchart-caption">
                     {{ _items.far_left.caption }}
                </div>
            </div>
        </div>
        <div class="animate-flowchart-lineContainer animate-flowchart-item">
            <div class="animate-flowchart-lineWrap">
                <div class="animate-flowchart-lineWrapInnerTop">
                    <div class="animate-flowchart-lineTopStart"></div>
                </div>
            </div>
            <div class="animate-flowchart-lineWrap">
                <div class="animate-flowchart-lineWrapInnerBottom">
                    <div class="animate-flowchart-lineBottomStart"></div>
                </div>
            </div>
        </div>
        <div class="animate-flowchart-item animate-flowchart-item-step step-1">
            <div class="animate-flowchart-top" {{#if _items.top_left.color }} style="color:{{ _items.top_left.color }};" {{/if}}>
                <div class="animate-flowchart-graphic">
                    <img src="{{ _items.top_left.graphic }}" />
                </div>
                <div class="animate-flowchart-caption">
                     {{ _items.top_left.caption }}
                </div>
            </div>
            <div class="animate-flowchart-bottom" {{#if _items.bottom_left.color }} style="color:{{ _items.bottom_left.color }};" {{/if}}>
                <div class="animate-flowchart-graphic">
                    <img src="{{ _items.bottom_left.graphic }}" />
                </div>
                <div class="animate-flowchart-caption">
                     {{ _items.bottom_left.caption }}
                </div>
            </div>
        </div>
        <div class="animate-flowchart-lineContainer animate-flowchart-item">
            <div class="animate-flowchart-lineWrap">
                <div class="animate-flowchart-lineWrapInnerTop">
                    <div class="animate-flowchart-lineTopMiddle"></div>
                </div>
            </div>
            <div class="animate-flowchart-lineWrap">
                <div class="animate-flowchart-lineWrapInnerBottom">
                    <div class="animate-flowchart-lineBottomMiddle"></div>
                </div>
            </div>
        </div>
        <div class="animate-flowchart-item animate-flowchart-item-step step-2">
            <div class="animate-flowchart-top animate-flowchart-last-top" {{#if _items.top_right.color }} style="color:{{ _items.top_right.color }};" {{/if}}>
                <div class="animate-flowchart-graphic">
                    <img src="{{ _items.top_right.graphic }}" />
                </div>
                <div class="animate-flowchart-caption">
                     {{ _items.top_right.caption }}
                </div>
            </div>
            <div class="animate-flowchart-bottom animate-flowchart-last-bottom" {{#if _items.bottom_right.color }} style="color:{{ _items.bottom_right.color }};" {{/if}}>
                <div class="animate-flowchart-graphic">
                    <img src="{{ _items.bottom_right.graphic }}" />
                </div>
                <div class="animate-flowchart-caption">
                     {{ _items.bottom_right.caption }}
                </div>
            </div>
        </div>
        <div class="animate-flowchart-lineContainer animate-flowchart-lineContainerLast animate-flowchart-item">
            <div class="animate-flowchart-lineWrapLastTop">
                <div class="animate-flowchart-lineWrapInnerTop">
                    <div class="animate-flowchart-lineTopEnd"></div>
                </div>
            </div>
            <div class="animate-flowchart-lineWrapLastBottom">
                <div class="animate-flowchart-lineWrapInnerBottom">
                    <div class="animate-flowchart-lineBottomEnd"></div>
                </div>
            </div>
        </div>
        <div class="animate-flowchart-item animate-flowchart-item-end">
            <div class="animate-flowchart-graphic-lg-wrap">
                <div class="animate-flowchart-graphic animate-flowchart-graphic-lg">
                    <img src="{{ _items.far_right.graphic }}" />
                </div>
                <div class="animate-flowchart-caption">
                     {{ _items.far_right.caption }}
                </div>
            </div>
        </div>
    </div>
    <div>{{{_preLinkBody}}}<a href={{{_link}}}>{{{_linkBody}}}</a>{{_postLinkBody}}</div>
</section>
