<div class="component-inner animationCard-inner">
    {{> component this}}
	<div class="component-widget animationCard-widget">
        {{#each _items}}
            <div class="animationCard-item-inner">
                <div class="animationCardHeading"><span>{{{heading}}}</span></div>
                <img src="{{_graphic.src}}" id="animationCard-img" {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
                <div class="animationCardSubHeading"><span>{{{subHeading}}}</span></div>
                <div class="animationCardText"><span>{{{text}}}</span></div>
            </div>
        {{/each}}
	</div>
</div>
