<div class="component-inner animation-inner">
    {{> component this}}
    <div class="animationWrap">
  		<div class="component-widget animation-widget">

  				 <div class="animation-item component-item component-item-color {{#unless ../_isEnabled}}{{#if ../_canShowMarking}}{{#if _isCorrect}}correct{{else}}incorrect{{/if}}{{/if}}{{/unless}} item-{{@index}}">

            <div class="animation-wrap left-animation-wrap hidden">
              <div class="animation-item-left-img animation-img">
  							<img src="{{{_resources.leftImage}}}" />
  						</div>
              <div class="animation-item-left-text animation-text">
  							{{{_resources.leftText}}}
  						</div>
            </div>

            <div class="animation-wrap center-animation-wrap hidden">
              <div class="animation-item-center-img animation-img">
                <img src="{{{_resources.centerImage}}}" />
              </div>
              <div class="animation-item-center-text animation-text">
                {{{_resources.centerText}}}
              </div>
            </div>

            <div class="animation-wrap right-animation-wrap hidden">
              <div class="animation-item-right-img animation-img">
                <img src="{{{_resources.rightImage}}}" />
              </div>
              <div class="animation-item-right-text animation-text">
                {{{_resources.rightText}}}
              </div>
            </div>

  				</div>

  		</div>
  	</div>
  </div>
</div>
