


<div class="flexbox-list-inner component-inner" role="region" aria-label="{{_globals._components._flexbox-list.ariaRegion}}">
	{{> component this}}

{{#if show_header_boolean}}
<header>
<div class='headerflex'>{{#if header_title}}<h1>{{{header_title}}}</h1><br>{{/if}}
	{{#if header_image}}<img src='{{{header_image}}}'></img>{{/if}}</div> 
</header>
{{/if}}	


<div class={{{_mainflex}}} >

	{{#each _items}}

		{{#each _row}}

			<flexcol> 

				<div id={{@../index}}{{@index}} >

					<div class='imageflex'><img src='{{{item_image}}}'></img></div>

					<div class='titleflex'><h2>{{{item_title}}}</h2></div>

					<div class='bodyflex'><h3>{{{item_body}}}</h3></div>

				</div>

			</flexcol>

		{{/each}}

	{{/each}}

</div>

</div>

 
