<div class="component-inner text-overlay-inner">
    {{> component this}}
	<div class="component-widget text-overlay-widget{{#if _graphic.attribution}} graphic-widget-attribution{{/if}}">

        <div class="text-overlay-item-inner">
            <div class="overlayText" style="font-size:{{{fontSize}}}; color:{{{fontColor}}}; line-height:{{{lineHeight}}}; -webkit-filter: drop-shadow({{{dropShadow}}}); filter: drop-shadow({{{dropShadow}}});"><span>{{{text}}}</span></div>
            <img src="{{_graphic.src}}" id="text-overlay-img" {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
        </div>
        {{#if _graphic.attribution}}
          <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
        {{/if}}
	</div>
</div>
