<div class="{{_component}}-inner component-inner">

	{{#if displayTitle}}
	<div class="{{_component}}-title component-title">{{{displayTitle}}}</div>
	{{/if}}

	{{#if body}}
	<div class="{{_component}}-body component-body">
		<div class="{{_component}}-body-inner component-body-inner">
			{{{body}}}
		</div>
	</div>
	{{/if}}

	{{#if instruction}}
	<div class="{{_component}}-instruction component-instruction">
		<div class="{{_component}}-instruction-inner component-instruction-inner">
			{{{instruction}}}
		</div>
	</div>
	{{/if}}

	{{#if _graphic}}
	<div class="{{_component}}-widget component-widget">
		<img src="{{_graphic.src}}" alt="{{_graphic.alt}}" title="{{_graphic.title}}" class="{{_graphic.class}}" data-large="{{_graphic.large}}" data-medium="{{_graphic.medium}}" data-small="{{_graphic.small}}"/>
	</div>
	{{/if}}

	{{#if postGraphicBody}}
	<div class="{{_component}}-body component-body">
		<div class="{{_component}}-body-inner component-body-inner">
			{{{postGraphicBody}}}
		</div>
	</div>
	{{/if}}

</div>