// Component styles
.animationWrap {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;

	.animation-widget {
		position: relative;
		float: left;
		width: 100%;
		height: 100%;
		margin: 0 0 20px 0;

		.animation-item {
			position: relative;
			float: left;
			width: 100%;
			height: 100%;
		}
	}
}

.animation-text {
	color: #4281ff;
	font-weight: bolder;
	font-size: 20px;
	text-align: center;
}

.animation-wrap {
	position: relative;
	float: left;
	width: 33.3%;
}
.animation-img {
	position: relative;
	width: 100%;
	height: 100%;
	img {
		display: flex;
    position: relative;
    margin: 0 auto;
	}
}

.hidden {
	transform: translateY(-100%);
	opacity: 0;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0%);
		opacity: 1;
	}
}
