<div class="component-inner twoCol-inner">
    {{> component this}}
	<div class="component-widget twoCol-widget">
        <div class="twoColWrap" style="border:1px solid {{{borderColor}}}; border-radius:{{{borderRadius}}};">
            <div class="twoCol-item-inner">
                <div class="twoCol-leftCol" style="width:calc({{{leftColumnWidth}}} - 13px);">
                    <img src="{{_graphic.src}}" id="twoCol-img" {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
                    {{#if _graphic.attribution}}
                      <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                    {{/if}}
                </div>
                <div class="twoCol-rightCol" style="width:calc({{{rightColumnWidth}}} - 12px);">
                    <span>{{{text}}}</span>
                </div>
            </div>
        </div>
	</div>
</div>
