<div class="animate-mesage-inner component-inner">
    {{> component this}}
    <div class="animate-message-inner clearfix">
            {{#each _items}}
                <div id={{@index}} {{#if popup_body}}href="#"{{/if}} class="animate-message-item">
                    <div class="animate-message-title">{{{item_title}}}</div>
                    <div class="animate-message-body">{{{a11y_text body}}}</div>
                </div>
            {{/each}}
    </div>
    <div>{{{_preLinkBody}}}<a href={{{_link}}}>{{{_linkBody}}}</a>{{_postLinkBody}}</div>
</div>
