.table-format-component {
	/* visited link */
	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* mouse over link */
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* selected link */
	a:active {
	    color: @facebook-blue !important;
	    
	    font-weight: 900 !important;
	}

}

.table-style-3{
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid #104e8b;
  padding: 5px;
  vertical-align: top;
  width:90% !important;
  font-size: 18px;
}

.cell-style-1{

  border: 1px solid #000000;
  padding: 5px;
  vertical-align: top;
  background-color: #104e8b;
  font-size: 18px;
   width:33% !important;
}

.button-style-1{
  
  vertical-align: right;

}

.cell-style-2{
  color: #000000;
  border: 1px solid #104e8b;
  padding: 5px;
  vertical-align: top;
  background-color: #ffffff;
  font-size: 18px;
  width:33% !important;
}

.text-cell-icons{
  border: 1px solid #104e8b;
  padding: 5px;
  vertical-align: top;
  background-color: #ffffff;
}
