.arrowbox-component {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ebebeb;
	color:#000;
	margin-bottom: 20px;

    @facebook-blue:#4267b2;
	@facebook-green:#6BCEBB;
    @red: #f26c4f;
    @green: #82ca9c;

	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* mouse over link */
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* selected link */
	a:active {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	.arrowbox-inner {
		padding: 20px;
	}

	.arrowbox-title {
		color: #ffffff;
	}

	.arrow () {
	  &:after {
		border: solid transparent;
		border-top-color: inherit;
		color: inherit;
		border-width: 20px;
		content: " ";
		height: 0;
		left: 50%;
		margin-left: -20px;
		pointer-events: none;
		position: absolute;
		top:100%;
		width: 0;
		z-index:5;
	  }

	}
	.arrow();
	.popup {
	   color: @facebook-blue !important;
	   text-decoration: underline;
	}
}
