.menu {
	background: @white;

	.menu-container {
		width: 100%;
	}

	.menu-container-inner {
		padding: 0;
	}

	.menu-header {
		//margin-bottom: 20px;
		padding-bottom:20px;
		background: @white;

	}

	.menu-header-inner {
		max-width: @device-width-large;
		margin: auto;
		padding: @menu-header-padding-top 0 @menu-header-padding-bottom;
		text-align: center;

        @media all and (max-width: (@device-width-large + 20px)) {
            padding: (@menu-header-padding-top / 2) 20px @menu-header-padding-bottom;
        }

        @media all and (max-width: (@device-width-small + 20px)) {
            padding: 20px 10px 20px;
        }
	}

	.menu-title {
		margin: @menu-block-title-margin-top 0 @menu-block-title-margin-bottom;
		color: @foreground-color;
		font-weight: 500;
	}

	.menu-body {
		margin: @menu-block-body-margin-bottom 0;
		color: @facebook-font-blue-light;
	}

	.menu-item {
		margin: 0 auto 30px;
		float: left;

		.dir-rtl & {
			float: right;
		}

		&.nth-child-even{
			.menu-item-inner{
				margin-left:2%;
		        .dir-rtl & {
		            margin-right:2%;
		        }
			}
		}

		&.nth-child-odd {
			.menu-item-inner {
				margin-right:2%;
				float: right;
                .dir-rtl & {
					float: left;
                    margin-left:2%;
                }
			}
		}
	}

	.menu-item-inner {
		position:relative;
		height:auto;
		max-width: (@device-width-large / 2) - (@item-padding * 2);
		margin: auto;
		padding: @menu-block-padding-top @menu-block-padding-right (@menu-block-padding-bottom + 10px) @menu-block-padding-left;
		background-color: #efefef;
		float: left;

		.dir-rtl & {
			float: right;
		}
		//color: @menu-item-text-color;
	}

	.menu-item-graphic {
		float: left;

		.dir-rtl & {
			float: right;
		}
	}

	.menu-item-title {
    	width: ~'calc(100% - 24px)';
		margin: @menu-block-title-margin-top 0 @menu-block-title-margin-bottom;
		padding: 0 12px;
		float: left;

		.dir-rtl & {
			float: right;
		}

		.item-title;
	}

	.menu-item-body {
		width: ~'calc(100% - 24px)';
		margin-bottom: @menu-block-body-margin-bottom;
		padding: 0 12px;
		float: left;

		.dir-rtl & {
			float: right;
		}
	}

	.menu-item-instruction {
		margin-bottom: @menu-block-instruction-margin-bottom;
		padding: 0;
	}

	.page-level-progress-menu-item {
		position: absolute;
		bottom:14px;
		right:0px;
		width: 100px;
		height: 15px;
		float: right;
		padding: 0 12px;
		margin: 0;
		float: right;

		.dir-rtl & {
			left: 0;
			right: auto;
			float: left;
		}
	}

	.page-level-progress-menu-item-indicator {
		width: 100px;
		height: 10px;
		background-color: white;
		border: 2px solid @menu-item-progress-border-color;
		border-radius: 25px;
	}

	.page-level-progress-menu-item-indicator-bar {
		height: 10px;
		background:repeating-linear-gradient(45deg,@facebook-green-dark,@facebook-green-dark 10px,@facebook-green 10px,@facebook-green 20px);
		border-radius: 25px;
	}

	.menu-item-duration {
		position: absolute;
		text-align:left;
		right:0;
		bottom:35px;
		float: right;
		padding: 0 10px;

		.dir-rtl & {
			float: left;
			left: 0;
			right: auto;
		}
	}

	.menu-item-button {
		position: relative;
		bottom: 0;
		padding: 5px;
		float: left;

		.dir-rtl & {
			float: right;
		}

		a {
			padding: @button-padding 40px;
			background-color:@button-color;
			color:@button-text-color;

			&:hover {
				background-color:@button-color-hover;
				color:@button-text-color-hover;
			}

			&.visited {
				background-color:@button-color-disabled;
				color:@button-text-color-disabled;
			}
		}
	}
}

@media all and (max-width: 760px) {

   	.menu{
   		.menu-inner {
			padding:0;
		}

		.menu-title-inner{
			padding: 0;
		}

		.menu-body-inner{
			padding: 0;
		}

		.menu-item{
			&.nth-child-even,
			&.nth-child-odd {
				.menu-item-inner{
					margin: 0 auto;
				}
			}
		}
   	}
}
