// Component styling
// =================

.component {
    .component-inner {
        //padding:10px;
        &.blank-inner { // don't apply styling to blank component
            background-color: transparent;
            padding: 0;
        }

    }

    .component-title{
        margin-bottom: @component-title-margin-bottom;
        color: @title-color;
        text-align: left;

        .dir-rtl & {
            text-align: right;
        }
    }

    .component-title-inner {
        padding: 0px;
    }

    ////-->Custom layout styles
//-->White background
    &.bg-white {
      .component-inner{
          background-color: @white;
         }
    }
//-->White background end

//-->Graphic left, text right style
    .break-small {
        @media (max-width: 520px) {
            width: 100%;
            display: block;
            float: none;
        }
    }

    &.graphic-left {
        &.sml .component-inner .component-header {
            width: 67%;
            .break-small
        }
        &.sml .component-inner .component-widget{
            width: 32%;
            .break-small
        }
        .component-inner {
            overflow: hidden;
            .component-header {
                display: inline-block;
                width: 59%;
                vertical-align: top;
                .break-small
            }
            .component-body{

            }
            .component-widget{
                float: left;
                display: inline-block;
                width: 40%;
                vertical-align: top;
                .break-small
            }
        }
    }
//-->Graphic left, text right style end

//-->Graphic left, question mark
    &.graphic-left-question-mark {
        .component-inner {
            overflow: hidden;
            .component-header {
                display: inline-block;
                width: 89%;
                vertical-align: top;
                .break-small
            }
            .component-body{

            }
            .component-widget{
                float: left;
                display: inline-block;
                width: 10%;
                vertical-align: top;
                .break-small
            }
        }
    }
//-->Graphic left, question mark end
////-->Custom layout styles end

    .component-body{
        margin: @component-body-margin-top 0px @component-body-margin-bottom;

        a {
          text-decoration: underline;
          color: @font-color;
        }

    }

    .component-body-inner{
        padding: 0px;
    }

    .component-instruction {
        margin-bottom: @component-instruction-margin-bottom;
        .instruction-text;
    }

    .component-instruction-inner {
        &.validation-error {
            color: @validation-error;
        }
    }

    // to replicate padding between blocks when components drop into a single column
    @media all and (max-width: (@device-width-small)) {

        &.component-left {
            padding: 0 0 (@block-padding / 3);
        }

        &.component-right {
            padding: (@block-padding / 3) 0 0;
        }
    }
}
