// Narrative styling
// ==================
.narrative-component {

    .narrative-content-title {
        margin-bottom: @title-text-margin;
        .item-title;
    }
    .narrative-content {
        background: @item-color;
        color: @item-text-color;
    }

    .narrative-controls {
        width: 40px;
        height: 40px;
        //margin-top: -(@icon-size);
        background-color: transparent;

        &:hover {
            //background-color:@item-color-hover;

            .icon {
                //color:@item-text-color-hover;
            }
        }

        .icon {
            font-size: (@icon-size * 1.25);
            font-weight: bold;
            //margin: (@icon-size / 1.5);
            color:@facebook-blue;
        }
    }

    .narrative-text-controls {
        .narrative-controls {
            width: auto;
            height: auto;
            .icon {
                font-size: @icon-size;
            }
        }
    }


    .narrative-progress {
        background-color: darken(@component-background-color, 10%);
        border:inherit;

        &.selected {
            background-color: @item-color;
        }
    }

    .narrative-strapline-title {
        background-color: @item-color;
        color: @item-text-color;
        .item-title;

        .icon {
            padding: @item-padding-top @item-padding-right @item-padding-bottom;
            color: @item-text-color;
        }

        &:hover {
            background-color: @item-color-hover;
            color: @item-text-color-hover;

            .icon {
                color: @item-text-color-hover;
            }

        }
    }

    .narrative-strapline-title-inner {
        padding-left: (@item-padding-left);
        padding-right: (@item-padding-left + @item-padding-right + @icon-size);

        .dir-rtl & {
          padding-right: (@item-padding-left);
          padding-left: (@item-padding-left + @item-padding-right + @icon-size);
        }
    }
}

.narrative-component_red {

    .narrative-content-title {
        margin-bottom: @title-text-margin;
        .item-title;
    }
    .narrative-content {
        background: #3e4558;
        color: @item-text-color;
    }

    .narrative-controls {
        width: (@icon-size * 2.5);
        height: (@icon-size * 2.5);
        margin-top: -(@icon-size * 2);
        background-color:#000000;

        &:hover {
            //background-color:@item-color-hover;

            .icon {
                //color:@item-text-color-hover;
            }
        }

        .icon {
            font-size: (@icon-size * 1.25);
            font-weight: bold;
            margin: (@icon-size / 1.5);
            color:@facebook-blue;
        }
    }

    .narrative-text-controls {
        .narrative-controls {
            width: auto;
            height: auto;
            .icon {
                font-size: @icon-size;
            }
        }
    }


    .narrative-progress {
        background-color: darken(@component-background-color, 10%);
        border:inherit;

        &.selected {
            background-color: @item-color;
        }
    }

    .narrative-strapline-title {
        //background-color: @item-color;
        //color: @item-text-color;
        .item-title;

        .icon {
            //padding: @item-padding-top @item-padding-right @item-padding-bottom;
            //color: @item-text-color;
        }

        &:hover {
            //background-color: @item-color-hover;
            //color: @item-text-color-hover;

            .icon {
                //color: @item-text-color-hover;
            }

        }
    }

    .narrative-strapline-title-inner {
        padding-left: (@item-padding-left);
        padding-right: (@item-padding-left + @item-padding-right + @icon-size);

        .dir-rtl & {
          padding-right: (@item-padding-left);
          padding-left: (@item-padding-left + @item-padding-right + @icon-size);
        }
    }
}
