// Navigation styling
// ==================

.navigation {
    width: 100%;
    //overflow: hidden;
    background-color: @navigation-color;
    //background-image: url("assets/blueprint.png");
    background-repeat:no-repeat;
    //box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    //box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    height: (@navigation-padding * 2) + @icon-size;

    .ie8 & {
        max-width: @ie8-max-width;
    }

    .icon {
        padding: @navigation-padding;
        color: @navigation-icon-color;
        .transition-color;

        .no-touch &:hover {
            color: @navigation-icon-color-hover;
        }
    }
    
    .page-logo{
       position:absolute;
       padding:8px;
       text-align:center; 
    }
   @media (max-width: 460px) {
        .page-logo{
           position:absolute;
           width:70%;
           height:40%;
           padding:0px;
           padding-top:15px;
           float:left;
           
           
        }
        .navigation-exit-button{
            padding-left:3px !important;
            padding-right:3px!important;

        }
        .icon{
            padding-left:3px !important;
            padding-right:3px !important;
        }
    

    }
    @media (max-width: 375px) {
        .page-logo{
           position:absolute;
           width:70%;
           height:30%;
           padding:0px;
           padding-top:15px;
           float:left;
           
           
        }
        
    

    }
    
    @media (max-width: 320px) {
        .page-logo{
           position:absolute;
           width:60%;
           height:30%;
           padding:0px;
           padding-top:10px;
           float:left;
           
           
        }
        .navigation-exit-button{
            padding-left:3px !important;
            padding-right:3px!important;

        }
        .icon{
            padding-left:3px !important;
            padding-right:3px !important;
        }
    

    }
    @media (max-width: 300px) {
        .page-logo{
           position:absolute;
           width:50%;
           height:30%;
           padding:0px;
           padding-top:10px;
           float:left;
           
           
        }
        .navigation-exit-button{
            padding-left:3px !important;
            padding-right:3px!important;

        }
        .icon{
            padding-left:3px !important;
            padding-right:3px !important;
        }
    

    }
    .atlas-logo{
        float:right;
    }
    
    
}