// Page styling
// ============

.page {
    background-color: @white;

    .page-header {
        background-color: @white;
    }
    .page-header-graphic {
        position: absolute;
        z-index:0;
        top: 0;
        left: 0;
        width: 100%;
        height: 299px;
        background-image: url("./assets/bg_mast_top.png");
        background-repeat: repeat-x;
    }
    .page-header-inner {
        position:relative;
        padding: @page-padding-top 0 @page-padding-bottom;

        @media all and (max-width: (@device-width-large + 20px)) {
            padding: @page-padding-top 20px @page-padding-bottom;
        }

        @media all and (max-width: (@device-width-small + 20px)) {
            padding: @page-padding-top 10px @page-padding-bottom;
        }
    }

    .page-header-content {
        
        max-width: @device-width-large;
        margin: auto;
        color: @facebook-font-blue-dark;
    }

    .page-header-content-inner {
        text-align: center;
    }

    .page-title {
        position: relative; 
        z-index:1;
        margin-bottom: @block-body-margin-bottom;
        color:@black;
    }

    .page-body {
        position: relative;
        margin-bottom: @block-body-margin-bottom;
        color:@black;
        
    }

    .page-instruction {
        margin-bottom: @block-instruction-margin-bottom;
        .instruction-text;
    }
}