// Navigation PLP
// ==============

.page-level-progress-navigation {

    //padding:  @navigation-padding!important; // Override defaults in extension
    //margin: 5px 0;

    .no-touch &:hover {

        .page-level-progress-navigation-completion {
            background-color: #ffffff;
            //border-color: #ffffff;
        }

        .page-level-progress-navigation-bar {
            background-color: #ffffff;
            //border-color: @navigation-progress-color-hover;
        }

        .page-level-progress-plus-icon {
            color: @navigation-progress-color;
        }
    }

    position:absolute;
    left:0px;
    top:63px;
    padding:0px;
    width:100%;
}

.page-level-progress-navigation-completion {
    width: ~"calc(100% - 4px)";
    height: 10px;
    background-color: #ffffff;
    //border: 2px solid @navigation-progress-border-color;
    //-webkit-border-radius: 50px;
    //-moz-border-radius: 50px;
    border-radius: 0;
    .transition-all-colors;
}

.page-level-progress-navigation-bar {
    left: 0;
    //border: 2px solid #ffffff;
    background:repeating-linear-gradient(
  45deg,
  @facebook-green-dark,
  @facebook-green-dark 10px,
  @facebook-green 10px,
  @facebook-green 20px
);
    transition: all 0.3s ease-in;
    .transition-all-colors;
}

.page-level-progress-plus-icon {
    right: 9px;
}

// Drawer PLP
// ==========

.drawer {
    .page-level-progress-item-title {
    	background-color: @drawer-item-color;
    	color: @drawer-item-text-color;
        .transition-all-colors;

    	&.drawer-item-open.disabled {
    		background-color: @drawer-item-color-disabled;
    		color: @drawer-item-text-color-disabled;

            .no-touch &:hover {
                background-color: @drawer-item-color-disabled;
                color: @drawer-item-text-color-disabled;
                .page-level-progress-indicator {
                    background-color: darken(@drawer-item-color, 40%);
                }
            }
    	}

        &:hover {
            background-color: @drawer-item-color-hover;
            color: @drawer-item-text-color-hover;

            .page-level-progress-indicator {
                background-color: @drawer-progress-color-hover;
            }
            .page-level-progress-indicator-incomplete {
                background-color: @drawer-item-color;
            }
        }
    }
}

.page-level-progress-item-title-inner {
	width:80%;
}

.page-level-progress-indicator {
    width: 15%;
    height: 8px;
    //border: 1px solid @drawer-progress-border-color;
	background-color: darken(@drawer-item-color, 10%);
    .transition-background-color;
}

.page-level-progress-indicator-complete {

    .page-level-progress-indicator-bar {
        background-color: @drawer-progress-color;
        .transition-background-color;

        &:hover {
            background-color: @drawer-progress-color-hover;
        }
    }
}
