// Additional theme classes or attributes to be applied in JSON for more custom style
// ====================================================================

// Divider block - used to separate content or break up pages.
// =============
.color-test {
	background-color:@jump;
}
// Class applies alternative background color and component styling

.divider-block {
    background-color: @background-color-inverted;
    color: @foreground-color-inverted;
    text-align: center;
    .block-title,
    .block-body,
    .block-instruction,
    .component-title,
    .component-body,
    .component-instruction {
    	color: @foreground-color-inverted;
    	text-align: center;
    }
    .component-inner {
    	background-color: transparent;
    }
}

// Block background color - used to apply variable based background colors on blocks
// ======================

.block {
	&.primary-color {
		background-color: @primary-color;
	}

	&.secondary-color {
		background-color: @secondary-color;
	}

	&.tertiary-color {
		background-color: @tertiary-color;
	}

	&.background-color {
		background-color: @background-color;
	}

	&.background-color-inverted {
		background-color: @background-color-inverted;
		color: @font-color-inverted;
		.component-inner {
			background-color: transparent;
		}
	}
}

// Component background - used to apply variable based background color and padding on components
// ====================

.component-background {
	background-color: @component-background-color;
	padding: @component-padding;
}

// Assessment - remove graphic components for mobile view (when components snap down to single span).
// ==========

.assessment {
	.graphic-component {
		display: block;

		@media all and (max-width: @device-width-medium) {
			display: none;
		}
	}
}

// THIS CLASS IS FOR THE PURPOSE OF THE ADAPT DEMO
// blank component demo - applied at block level to add a background image in place of a blank component
// ====================

.blank-background {
	background-image: url(assets/blank-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;

	@media all and (max-width: @device-width-large) {
		background-image: url(assets/blank-bg-900.jpg);
		background-position: right;
	}

	@media all and (max-width: @device-width-medium) {
		background-image: none;
	}
}
cite {
    font-size: 80%;
    font-weight:@font-weight-light;
}
//for narrative
.narrative_back {
	background-color: #eeeeee;
	corner-radius: 30px;

}
//table style
.table-style-1 thead{
    color: #ffffff;
    background-color: #6790cb;
}

.table-style-1 tbody{
    color: #000000;
}

.table-style-1 tbody th{
    background-color: #dde5ed;
    border: 1px solid #cecfd5;
}

.table-style-1 th,
.table-style-1 td {
  border: 1px solid #cecfd5;
  padding: 5px;
  vertical-align: middle;
  //max-width:100px;
}

.table-style-1 td{
    background-color: #ffffff;
    font-size: 18px;
}
li {
    list-style-position: outside;
    padding-left: 0;
}
.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.citation {
    font-size: 14px;

    sup {
        margin-right: 5px;
    }
}
//localized versions xtras added to theme

.zh_cn {

  i{
    font-style: normal !important;
  }

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}


///////////////////////TABLE STYLE 2 with Icons
////////Mark Walsh 10/2015
///UDPATE 02/10/2016

//table style

.table-style-2 thead{
    color: #ffffff;
    background-color: #6790cb;
}

.table-style-2 tbody{
    color: #000000;
}

.table-style-2 tbody th{
    background-color: #dde5ed;
    border: 1px solid #cecfd5;
}

.table-style-2 th{
  border: 1px solid #cecfd5;
  padding: 5px;
  vertical-align: middle;
  width:40% !important;
}

.text-cell{
  border: 1px solid #cecfd5;
  padding: 5px;
  vertical-align: middle;
  width:50% !important;
  background-color: #ffffff;
  font-size: 18px;
}
.table-style-3 thead{
    color: #ffffff;
    background-color: @facebook-blue;
    border: 1px solid #cecfd5;
}

.table-style-3 tbody{
    color: #000000;
}

.table-style-3 tbody th{
    //background-color: #dde5ed;
    border: 1px solid #cecfd5;
    padding: 20px;

}

.table-style-3 th,
.table-style-3 td {
 border: 1px solid #cecfd5;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: middle;
  //max-width:100px;
}
.table-style-3 bd {
 border: none;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: middle;
  //max-width:100px;
}
.table-style-3 td{
    background-color: #ffffff;
    font-size: 16px;
}
.icon-50pxhead{

background-color: #dde5ed;
border: 1px solid #cecfd5;
text-align: left;

width:40px !important;
height:40px !important;

padding: 5px;
vertical-align: middle;

}

.icon-50pxleft{

background-color: #ffffff;
border: 1px solid #cecfd5;
text-align: left;

width:40px !important;
height:40px !important;

padding: 5px;
vertical-align: middle;

}

/////Table Style 4////


.table-style-4 thead{
    color: #ffffff;
    background-color: #4267b2;
    text-align: center;
}

.table-style-4 tbody{
    color: #000000;
    text-align: center;
}

.table-style-4 tbody th{
    background-color: #dde5ed;
    border: 1px solid #cecfd5;
    text-align: center;
}

.table-style-4 th{
  border: 1px solid #cecfd5;
  padding: 5px;
  vertical-align: middle;
  width:20% !important;
  text-align: center;
}


///////////////

//table style
.table-style-5 thead{
    color: #ffffff;
    background-color: #6790cb;
}

.table-style-5 tbody{
    //border:none;
    border-collapse: collapse;
     border: 1px solid #000;
      text-align: center;
}

.table-style-5 td {
 border-left: 1px solid #000;
     background-color: #ffffff;
    font-size: 18px;
  padding: 15px;
  vertical-align: middle;

 }
.table-style-5 td:first-child {
border-left: none;
 text-align: center;
}

.table-style-5 tbody th{
    border-left: 1px solid #000;
     background-color: #ffffff;
     padding: 15px;
     vertical-align: middle;
}
.table-style-5 th {
  padding: 5px;
  vertical-align: middle;
}

///////////////

/////Table Style 6////

table.table-style-6 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2px solid #5e88b1;
}

th.table-style-6 {
  padding: 10px;
	font-size: 24px;
	font-weight: bold;
  vertical-align: middle;
  background-color: #5e88b1;
  border: 2px solid #5e88b1;
  text-align: center;
  color: #ffffff;
}

td.table-style-6 {
  padding: 10px;
	font-size: 18px;
	text-align: center;
  border: 2px solid #5e88b1;
}

td:first-child.table-style-6 {
  text-align: center;
}

///////////////


.icon-wide-head{

background-color: #dde5ed;
border: 1px solid #cecfd5;
text-align: center;

padding: 5px;
vertical-align: middle;

}

.icon-wide-left{

background-color: #ffffff;
border: 1px solid #cecfd5;
text-align: center;

padding: 5px;
vertical-align: middle;

}
.sliderBack{
  background-color: #dde5ed;
}
.clip {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 58% 76%, 49% 83%, 38% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 58% 76%, 49% 83%, 38% 75%, 0% 75%);
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  //background: tomato;
  padding: 5px;
  //width: 200px;
  //height: 150px;
  margin-top: 10px;

  //line-height: 150px;
  //color: white;
  //font-weight: bold;
  //font-size: 3em;
  text-align: center;
}
//textures
.texture_concrete {
    background-image: url(assets/concrete_white_1.png);
}
.texture_wood {
    background-image: url(assets/wood_white_1.png);
}
//gradients
.gradient_light_blue {
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(66,103,178,0.15) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(66,103,178,0.15) 50%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(66,103,178,0.15) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );


}
.gradient_dark_blue {
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(64,128,255,0.15) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(64,128,255,0.15) 50%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(64,128,255,0.15) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
.purple {
    background-color:#8c74c8;
}
.teal {
    background-color:#6fcdbb;
}
.dynamicBackground(@variableColor) {
    background-color:@variableColor;
}
