.twoCol-inner {

    .twoCol-widget {
        float: left;

        .twoColWrap {
            float: left;
            width: 100%;
            height: 100%;

            .twoCol-item-inner {
                float: left;
                height: 100%;

                .twoCol-leftCol {
                    float: left;
                    padding: 6px;
                    height: ~"calc(100% - 12px)";

                    #twoCol-img {

                    }

                }

                .divider {
                    float: left;
                    position: relative;
                    width: 1px;
                    height: 100%;
                    background-color: #000;
                }

                .twoCol-rightCol {
                    float: right;
                    padding: 6px;
                    height: ~"calc(100% - 12px)";
                }

            }
        }

    }

}
