.survey-radio-dropdown-component {
    text-align:center;
    input[type="radio"] {
        display:none;
    }

    .survey-radio-dropdown-item {

        .hasGraphic {
            position: relative;
            width:47%;
            margin-bottom:10px;
            float:left;
        }

        /*&.even{
            .hasGraphic{
                margin-left:5%;
            }
        }*/

        &.odd{
            clear: both;

            .hasGraphic{
                margin-right:5%;
            }
        }

        @media all and (max-width:760px) {
            .hasGraphic {
                width:100%;
            }

            &.even, &.odd{
                label{
                    margin-left:0%;
                    margin-right:0%;
                }
            }
        }
    }

    .survey-radio-item label {
        color:@item-text-color;
        display:block;
        border:@item-border;
        margin-bottom:2px;
        position:relative;
        z-index:1;
        background-color: @item-color;
        overflow: hidden;

        img{
            vertical-align: bottom;
        }

        .survey-radio-answer-icon{
            color: @item-text-color;
            &:before {
                content: "\e65e";
                color: #E2E8F3
            }
        }

        &.hasGraphic {
           display:inline-block;
        }

        &.selected {
            color:@item-text-selected-color;
            background-color:@item-selected-color;
            .survey-radio-answer-icon{
                &:before {
                    content: "\e633";
                    color: #00CC33;
                }
            }
        }
    }

    .survey-radio-item-inner {
        padding:14px;
        margin-left:38px;
        padding-top:13px;
        font-size:18px;
    }

    .survey-radio-item input {
        position:absolute;
        top:14px;
        left:25px;
    }

    .survey-radio-item-checkbox{
        position: relative;
    }

    .survey-radio-item-state {
        background: none;
        position: absolute;
        left: 10px;
        width: @icon-size;
        height: @icon-size;
        top: 50%;
        margin-top: -(@icon-size/2);
        z-index: 0;
    }

    .hasGraphic {
        .survey-radio-item-state{
            top: inherit;
            bottom: 16px;
        }
    }

    .survey-radio-correct-icon {
        color: @icon-correct-color;
        display: none;
    }

    .survey-radio-incorrect-icon {
        color: @icon-incorrect-color;
        display: none;
    }

    .button {
        clear: both;
        float:left;
    }

    .survey-radio-widget {

        &.user {
            .survey-radio-item-icon {
                display: none;
            }
            .incorrect {
                .selected .survey-radio-incorrect-icon {
                    display: block;
                }
            }
            .correct {
                .selected .survey-radio-correct-icon {
                    display: block;
                }
            }
        }

        &.model {
            .survey-radio-item-icon {
                display: none;
            }
            .selected .survey-radio-correct-icon {
                display: block;
            }
        }

        &.disabled {
            .survey-radio-item label.selected {
                background-color:@item-selected-color;
            }

            .survey-radio-item.correct .selected .state {
                color:@icon-correct-color;
            }

            .survey-radio-item.incorrect .selected .state {
                color:@icon-incorrect-color;
            }
        }

    }
    #item-selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height:50px;
    border:3px solid #4267b2;
    width:50%;
    white-space: nowrap;  /* added */
    word-wrap: inherit;
    text-indent: 8px;
    color:#4267b2;
    font-size: 16px;
    @media screen and (max-width: 570px) {
        font-size: 12px;
    }
    @media screen and (max-width: 500px) {
        font-size: 10px;
        width:100%;
    }
    font-weight: bold;
    }
    .option {
    color:#4267b2;
    font-weight: bold;   
    }
    .arrow{
        pointer-events: none;
        cursor:pointer;
        height:15px; 
        width:15px;
        position:absolute;
        top:37%;
        left:70%;
        @media screen and (max-width: 450px) {
            left:85%;
        }
        background-image: url(assets/dropdown_arrow.png);
    }
}
.no-touch {

    .survey-radio-component {

        .survey-radio-widget {
            &:not(.disabled) {
                .survey-radio-item label:hover {
                    color:@item-text-hover-color;
                    background-color:@item-hover-color;
                }
            }
        }
    }
}