<div class="co-jump-inner blank-inner component-inner">
{{> component this}}
	<div class="co-jump_image" ><a href={{{_link}}}><img src={{{_graphic}}}></a></div><div class="co-jump_text">
	{{{_preLinkBody}}}
	<a class="co-jump-link" href={{{_link}}}>{{{_linkBody}}}</a>{{_postLinkBody}}
	</div>
</div>

