.branchChart-inner {

    .branchChart-widget {

        .branchChart-item-inner {

            .branchChart-topText {
                position: relative;
                width: ~"calc(100% - 24px)";
                text-align: center;
                margin: 0 auto;
                padding: 12px;
            }

            .branchChart-lineWrap {
                position: relative;
                width: 100%;
                display: inline-block;

                .branchChart-topLineLeft {
                    position: relative;
                    display: inline-block;
                    width: 28.5%;
                    height: 20px;
                    left: 21%;
                    border-top: 2px solid #000;
                    border-left: 2px solid #000;
                }

                .branchChart-topLineRight {
                    position: relative;
                    display: inline-block;
                    width: 28.5%;
                    height: 20px;
                    left: 20%;
                    border-top: 2px solid #000;
                    border-right: 2px solid #000;
                }
            }

            .branchChart-textWrap {
                display: inline-block;
                position: relative;
                top: -6px;
                width: 100%;

                .branchChart-midLeftText {
                    position: relative;
                    float: left;
                    width: 40%;
                    text-align: center;
                    padding: 12px;
                }

                .branchChart-midRightText {
                    position: relative;
                    float: right;
                    width: 40%;
                    text-align: center;
                    padding: 12px;
                }

                .branchChart-bottomLeftText {
                    position: relative;
                    float: right;
                    width: 37%;
                    text-align: center;
                    padding: 12px 5%;
                }

                .branchChart-bottomRightText {
                    position: relative;
                    float: left;
                    width: 37%;
                    text-align: center;
                    padding: 12px 5%;
                }

            }

            .branchChart-caption {
                position: relative;
                width: ~"calc(100% - 12px)";
                text-align: center;
                margin: 0 auto;
                padding: 6px 6px 0 6px;
                border-color: #000;
            }

            .branchChart-topCaption {
                &::after {
                    .branchChart-line();
                }
            }

            .branchChart-textDividerRight {
                position: relative;
                width: ~"calc(40% + 24px)";
                float: right;
            }

            .branchChart-textDividerLeft {
                position: relative;
                width: ~"calc(40% + 24px)";
                float: left;
            }

            .branchChart-bottomLineLeft {
                position: relative;
                left: 21%;
                height: 20px;
                display: inline-block;
                width: 27.5%;
                border-top: 2px solid #000;
                border-left: 2px solid #000;
                &::before {
                    .branchChart-lineBottom();
                }
            }

            .branchChart-bottomLineRight {
                position: relative;
                left: 20%;
                height: 20px;
                display: inline-block;
                width: 28.5%;
                border-top: 2px solid #000;
                border-right: 2px solid #000;
            }
        }
    }
}

.branchChart-line {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    top: 0;
    left: 49.65%;
    border-style: solid;
    border-width: 0 0 20px 2px;
    border-color: inherit;
}

.branchChart-lineBottom {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    top: -20px;
    left: 100%;
    border-style: solid;
    border-width: 0 0 20px 2px;
    border-color: inherit;
}
